# Google AdSense
PUBLIC_ADSENSE_ID=ca-pub-XXXXXXXXXXXXXXXX

# Resend Email API
RESEND_API_KEY=re_XXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Keystatic CMS (GitHub Auth)
# Get these from GitHub -> Settings -> Developer settings -> OAuth Apps
KEYSTATIC_GITHUB_CLIENT_ID=Ov23liGqfMmJhDLaGC2s
KEYSTATIC_GITHUB_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
KEYSTATIC_SECRET=any_long_random_string_here
